<footer class="footer">
</footer>

<!-- Modals // Make sure this stand on it's own line, otherwise the whole line gets replaced with the include -->
<div class="js-submit-form-wrapper submit-form-wrapper">
  <section class="js-submit-form-container submit-form-container">
    <h3>Mention awesomeness</h3>

    <form action="#" id="submit-form" class="js-submit-form">
      <!-- Artist(s) -->
      <span class="input-wrapper">
        <input class="js-input input" id="submit-artist" type="text" required>
        <label class="input-label" for="submit-artist"><span class="input-label-content">Artist(s)</span></label>
      </span>
      <!-- URL -->
      <span class="input-wrapper">
        <input class="js-input input" id="submit-url" type="url" required>
        <label class="input-label" for="submit-url"><span class="input-label-content">URL</span></label>
      </span>
      <!-- Remarks -->
      <span class="input-wrapper">
        <textarea class="js-input input input-text-area js-input-text-area" name="submit-remarks" id="submit-remarks" data-resizable="true" rows="1"></textarea>
        <label class="input-label" for="submit-remarks"><span class="input-label-content">Remarks &amp; notes</span></label>
      </span>
      <!-- Submit Button -->
      <input class="input input-button js-submit-button" type="button" value="Submit">
      <!-- Close Button -->
      <button class="input input-button close-button js-close-submit-form">Close</button>
    </form>
  </section>
</div>
