<div class="up-to-date-wrapper wrapper">
  <h3 class="text-center">Stay up to date</h3>

  <div class="up-to-date-channels-wrapper">
    <div class="social-channel">
      <a class="social-text social-text-facebook" href="https://www.facebook.com/creativiteaorg">Facebook (5,393 likes)</a>
    </div>
    <div class="social-channel">
      <a class="social-text social-text-pinterest" href="https://www.pinterest.com/creativiteaorg">Pinterest (815 followers)</a>
    </div>
    <div class="social-channel">
      <a class="social-text social-text-rss" href="http://feeds.feedburner.com/creativitea/seWz">RSS feed (146 subscribers)</a>
    </div>
  </div>
</div>