<footer class="footer">
  <div class="wrapper">
    <h3 class="text-center">Stay up to date</h3>

    <div class="up-to-date-wrapper">
      <a class="button button-toned" href="">Follow us on Facebook</a>
      <a class="button button-toned" href="">Creativitea on Pinterest</a>
      <a class="button button-toned" href="">Receive updates via Twitter</a>
      <a class="button button-toned" href="">Subscribe to our RSS feed</a>
    </div>
  </div>
</footer>

<!-- Modals // Make sure this stand on it's own line, otherwise the whole line gets replaced with the include -->
<!-- build:include /submit-form.html --><!-- /build -->
