// Vars for Scaffolding
@bodyBg: #fff;

// prevent items with transition property from transitioning when the dom is loading
// javascript removes the preload class to enable transitions after the dom is loaded
.preload * {
  transition: none !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background: @bodyBg;

  &.disable-hover-js {
    pointer-events: none;
  }

  &.disable-scroll-js {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.content,
.wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.content,
.wrapper-padding {
  padding: 0 1rem;
}

@media (min-width: 77rem) {
  .content,
  .wrapper-padding {
    padding: 0;
  }
}