// Import fonts from Google Fonts
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300);

@baseFont: #2A363B;

body {
  font-family: 'Fira Sans';
  font-weight: 300;
  font-size: 18px;
  color: @baseFont;
}