// Vars for Scaffolding
@bodyBg: #fff;

html,
body {
  height: 100%;
}

// Make sure every element has a margin of 1rem
// body is there for specificity reasons
body * + * {
  margin-top: 1em;
}

body {
  background: @bodyBg;
  margin-bottom: 0;
}

.content,
.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}